nidm_*/
nidm*/

*.nidm.zip

_ignored*/

afni_t_test/Sub*.nii


smoothness_v

# AFNI pre-processed BRIK images
*.scale*.BRIK
*.blur*.BRIK
*.volreg*.BRIK
*.tshift*.BRIK
*.tcat*.BRIK

# AFNI 
fitts*.BRIK
errts*.BRIK