nidm_*/
nidm*/

*.nidm.zip

_ignored*/

afni_t_test/Sub*.nii


smoothness_v

# AFNI pre-processed BRIK images
*.scale*.BRIK
*.blur*.BRIK
*.volreg*.BRIK
*.tshift*.BRIK
*.tcat*.BRIK
all_runs*.BRIK
anat_w_skull_warped*.BRIK
*_T1w*.BRIK

# AFNI 
fitts*.BRIK
errts*.BRIK

# FSL pre-processed NIfTI images

*.DS_store

*/figure/*